# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
*.pyc
output/
node_modules/
model/number_plate/ultralytics/yolo/v8/detect/sample.mp4 filter=lfs diff=lfs merge=lfs -text
model/helmet_detector/runs
runs
processed_frames/
model/data/HelmetDetectionDataset-7/
model/helmet_detector/training_result/

bitgram/