.history-container {
    justify-self: center;
    padding: 200px 50px 150px;
}

.history-date-section h2{
    background-color:#597445;    
    padding: 10px;
    width: 100%;
    color: #ffffff;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
    justify-content: center;
    border: solid #597445;
    padding-bottom: 15px;
}

/* .history-date-section {
    border: solid black
} */

.image-container {
    display: flex;
    justify-content: center;
}
.image-container img{
    width: 60%;
}

.history-box {
    border: solid #597445;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    color: black;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.75;
}
